/*
========================
Base-Base
========================
*/

@font-face {
  font-family: 'AvenirNext LT Pro Regular';
  src: url('fonts/AvenirNextLTPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/AvenirNextLTPro-Regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/AvenirNextLTPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/AvenirNextLTPro-Regular.svg#fa20c367c6a148cda65f50238befb5f2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font: 100%/1.5 'AvenirNext LT Pro Regular', sans-serif;

  	@include bp(l) {
    	font: 125%/1.5 Arial, sans-serif;
  	}
}

body {
	background: white;
  color: lighten(black, 30%);
	font-family: 'AvenirNext LT Pro Regular', sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

video, img, iframe {
  max-width: 100%;
}




